* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 3px;
}

.hidden {
  display: none;
}

:root {
  --dark: #222831;
  --light-dark: #31363F;
  --light-blue: #4fbfc5;
  --light-green: rgb(173, 228, 111);
  --white: #ececec;
  --layer1: 100;
  --layer2: 200;
  --layer3: 300;
  --layer4: 400;
  --layer5: 500;
  --layer6: 600;
  --layer7: 700;
  --layer8: 800;
  --layer9: 900;
  --layer10: 1000;
  --layerNeg1: -100;
  --darkSeeThrough: rgba(0, 0, 0, 0.3);
  --red: rgb(255, 99, 79);
  --green: rgb(146, 201, 84);
  --light-gray: rgb(182, 182, 182);
  --gray: rgb(143, 143, 143);
}

.nav {
  display: flex;
  background-color: var(--light-dark);
  width: min(400px, 100vw);
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1em;
  background-color: var(--dark);
  z-index: var(--layer1);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.title {
  color: var(--white);
  padding: 1em;
}

.profileIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  filter: blur(0.5px);
}
.profileIcon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.options {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1.5em;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  color: var(--white);
  cursor: pointer;
  padding: 0.5em;
  border-radius: 50%;
}

.option:hover {
  background: var(--light-dark);
}

.user-actions {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.logout {
  background: none;
  border: none;
  outline: none;
  color: var(--white);
  font-size: 2em;
}

.menu-btn {
  transform: rotate(90deg);
}

.main-holder {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.searchbar-big-holder {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-search-holder {
  padding: 0 1em 1em 1em;
  height: 4em;
}

.search-btn {
  position: absolute;
  font-size: 1em;
  cursor: pointer;
}

.nav-search-btn {
  left: 1.5em;
}

.searchbar-big {
  background: var(--white);
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-search {
  height: 2.5em;
  padding: 1em 1em 1em 2em;
}

.message-listingHolder {
  display: flex;
  flex-direction: column;
  padding: 0em 1em 1em 1em;
  height: 100%;
  overflow: auto;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  list-style: none;
}

.message-item {
  position: relative;
  background-color: var(--white);
  display: flex;
  height: 5em;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  transition: 200ms;
}

.message-item:hover {
  background-color: var(--light-blue) !important;
}

.message-item:hover .user2 {
  outline: 2px solid var(--light-blue);
}

.user1 {
  left: 10px;
  top: 10px;
}

.user2 {
  left: 30px;
  top: 30px;
  outline: 2px solid var(--white);
  transition: 200ms;
}

.message-profile-header {
  width: 30%;
}

.message-profile {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  filter: blur(0.5px);
}
.message-profile img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.message-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-profile-header {
  display: flex;
  padding: 0 0 0 10px;
  align-items: center;
  height: 100%;
  width: 30%;
}

.group-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.group-profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu-background {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: var(--layer2);
  background: var(--darkSeeThrough);
}

.menu-popup {
  display: flex;
  flex-direction: column;
  height: min(100vh, 70ch);
  width: min(100vw, 50ch);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--light-dark);
  border-radius: 10px;
  overflow: hidden;
  z-index: var(--layer3);
}

.menu-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--dark);
  height: 8em;
}

.close-btn {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
  padding: 0.1em;
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.close-btn:hover {
  background: var(--light-dark);
}

.menu-header-title {
  align-self: center;
  color: var(--white);
}

.menu-body-add-friends {
  display: none;
  flex-direction: column;
  padding: 25% 1em 1em 1em;
  align-items: center;
  justify-content: start;
  gap: 2em;
  height: calc(100% - 8em);
  position: relative;
}

.menu-form-field {
  padding: 1em;
  background: var(--dark);
  border: none;
  color: white;
  border-radius: 10px;
  width: 100%;
}

.body-info-title {
  color: var(--white);
}

.menu-submit-btn {
  width: 75% !important;
}

.friends-back-btn {
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 2em;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  cursor: pointer;
}

.friend-menu-buttons-holder {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-btn {
  padding: 1em 0.5em;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
}

.add-btn {
  width: 45%;
  background: var(--light-blue);
}

.friendRequest-btn {
  width: 45%;
  background: var(--light-green);
}

.menu-body-friends-overview, .menu-body-friendRequest-overview {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  overflow: auto;
  position: relative;
}

.menu-body-friends-overview {
  padding: 1em;
}

.menu-body-friendRequest-overview {
  padding: 4em 1em 1em 1em;
}

.friends-list, .friendRequests-list {
  width: 75%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.friend-list-item, .friendRequest-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--white);
  border-radius: 10px;
}

.friend-list-item {
  padding: 0.5em 0.5em 0.5em 0.5em;
  justify-content: space-between;
}

.friendRequest-list-item {
  padding: 0.5em 0.5em 0.5em 0.5em;
  justify-content: space-between;
}

.friend-request-option-holder {
  display: flex;
  align-items: center;
  gap: 1em;
}

.accept {
  color: var(--green);
}

.decline {
  color: var(--red);
}

.friend-request-option {
  display: flex;
  background: none;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.friend-option {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 200ms;
}

.friend-option:hover, .friend-option:focus {
  background: var(--light-gray);
}

.menu-body-groupCreate-menu {
  display: none;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  height: calc(100% - 8em);
  width: 100%;
}

.create-group-search {
  padding: 1em 1em 1em 2em;
  height: 2.5em;
}

.create-group-search-btn {
  left: 0.5em;
}

#create-group-searchbar-holder {
  width: 80%;
}

.group-add-friends-list {
  height: 70%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 1em;
  overflow: auto;
  padding: 0em 1em;
}

.group-add-list-item {
  display: flex;
  width: 100%;
  background: var(--white);
  padding: 0.5em;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.group-add-list-item:hover {
  background: var(--green) !important;
}

.check-group-add {
  padding: 30px;
  height: 30px;
  width: 30px;
}

.check-group-add:checked {
  background-color: var(--green);
}

.create-group-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.create-group-btn {
  width: 80%;
  background-color: var(--light-blue);
  padding: 1.5em 2em;
}

.group-create-info-menu {
  display: none;
  position: relative;
  height: calc(100% - 8em);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 2em;
}

.form-field-dark {
  background: var(--dark);
  color: var(--white);
}

.profile-holder {
  background: gray;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile-holder i {
  font-size: 7em;
  cursor: pointer;
  color: var(--white);
}

#group-image-input {
  display: none;
}

#groupname {
  width: 75% !important;
}

.add-friend-input-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}
.add-friend-input-holder input, .add-friend-input-holder p {
  width: 70%;
}

.succes {
  color: var(--green);
}

.fail {
  color: var(--red);
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.index-main {
  position: relative;
  width: calc(100vw - min(400px, 100vw));
  height: 100%;
  background: radial-gradient(farthest-side at -33.33% 50%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%) 0 36px, radial-gradient(farthest-side at 50% 133.33%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%) 36px 0, radial-gradient(farthest-side at 133.33% 50%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%), radial-gradient(farthest-side at 50% -33.33%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%), #222831;
  background-size: 15.4274694665px 72px, 72px 15.4274694665px;
}

#screenBlocker {
  position: absolute;
  height: 100%;
  width: 100%;
  background: radial-gradient(farthest-side at -33.33% 50%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%) 0 36px, radial-gradient(farthest-side at 50% 133.33%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%) 36px 0, radial-gradient(farthest-side at 133.33% 50%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%), radial-gradient(farthest-side at 50% -33.33%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%), #222831;
  background-size: 15.4274694665px 72px, 72px 15.4274694665px;
  z-index: var(--layer1);
}

.info-header {
  display: flex;
  justify-content: space-between;
  background: var(--light-dark);
  height: 4em;
  width: 100%;
  padding: 0 1em;
}

.message-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 1em;
  height: 100%;
  list-style: none;
  color: var(--white);
  font-size: 1.4em;
  padding: 0 1em;
}
.message-menu li {
  position: relative;
}

.message-option {
  cursor: pointer;
}

.search-chat-input {
  background: var(--dark);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.chat-search {
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-size: 0.6em;
  cursor: pointer;
}

.userinfo-wrapper {
  display: flex;
  align-items: center;
  color: white;
  gap: 1em;
  cursor: pointer;
}
.userinfo-wrapper p {
  color: rgba(255, 255, 255, 0.6);
}

.user-pfp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.user-pfp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.messages-holder {
  display: flex;
  flex-direction: column-reverse;
  height: calc(100% - 8em);
  padding: 3em;
  overflow: auto;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;
}

.message-image-holder {
  cursor: pointer;
}
.message-image-holder img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.message-video-holder, .message-image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 22em;
  max-width: 30em;
  margin: 0.5em 0em;
  overflow: hidden;
  border-radius: 5px;
}

.message-sender-wrapper {
  position: relative;
  padding: 0.5em 1em;
  height: 4em;
  background: var(--dark);
}

.add-file-btn {
  position: absolute;
  left: 1em;
  top: 0.5em;
  background: none;
  border: none;
  font-size: 1.8em;
  color: var(--white);
  cursor: pointer;
}

.message-sender {
  background: var(--light-dark);
  border: none;
  border-radius: 10px;
  padding: 1em 1em 1em 4em;
  width: 100%;
  color: var(--white);
}

.message-wrapper {
  display: flex;
  gap: 1em;
}

.message-profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.message-profile-picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.identifier-wrapper {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.identifier-wrapper h3 {
  color: var(--white);
}
.identifier-wrapper p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 75%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  background: var(--light-dark);
  border-radius: 10px;
  padding: 0.5em;
  max-width: 75%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.message-text {
  color: var(--white);
}
.message-text a {
  color: var(--light-blue);
}

#image-popup {
  left: 0;
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--darkSeeThrough);
  z-index: var(--layer9);
}

#closeImagePopup {
  position: absolute;
  background: none;
  border: none;
  color: var(--white);
  font-size: 3em;
  cursor: pointer;
  top: 1em;
  right: 2em;
}

.image-of-popup {
  position: relative;
  width: min(100ch, 100vw);
  max-height: min(70ch, 100vw);
  display: flex;
  justify-content: center;
  overflow: hidden;
  animation: popup 600ms ease-out;
}
.image-of-popup img {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.main-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(farthest-side at -33.33% 50%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%) 0 36px, radial-gradient(farthest-side at 50% 133.33%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%) 36px 0, radial-gradient(farthest-side at 133.33% 50%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%), radial-gradient(farthest-side at 50% -33.33%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%), #222831;
  background-size: 15.4274694665px 72px, 72px 15.4274694665px;
}

.form-title {
  display: flex;
  justify-content: center;
  position: relative;
  color: var(--white);
  letter-spacing: 2px;
}

.form-title::before {
  content: "";
  position: absolute;
  top: 110%;
  background-color: var(--white);
  height: 4px;
  border-radius: 10px;
  width: 50%;
}

.form {
  padding: 1em;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 1em;
  height: min(70ch, 100vh);
  width: min(50ch, 100vw);
  background: var(--dark);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
}

.feedbackMessage {
  color: var(--red);
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.form-field {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 1em;
  width: 90%;
}

.form-field-light-dark {
  background-color: var(--light-dark);
  color: white;
}

.form-field:focus {
  border: 2px solid var(--white);
}

.form-btns {
  width: 100%;
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  background-color: var(--light-blue);
  padding: 1.5em 2em;
  width: 10em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.redirect-subtle {
  font-size: 100%;
  color: var(--white);
}

/*# sourceMappingURL=site.css.map */
