* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 3px;
}

:root {
  --dark: #222831;
  --light-dark: #31363F;
  --light-blue: #76ABAE;
  --white: #ececec;
}

.nav {
  display: flex;
  background-color: var(--light-dark);
  width: min(400px, 100vw);
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1em;
  justify-content: space-between;
  background-color: var(--dark);
}

.title {
  color: var(--white);
  padding: 1em;
}

.profileIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  filter: blur(0.5px);
}
.profileIcon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.options {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1.5em;
  gap: 0.75em;
}

.option {
  color: var(--white);
  cursor: pointer;
}

.menu-btn {
  transform: rotate(90deg);
}

.main-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.nav-search {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1em 1em 1em;
  height: 4em;
}

.search-btn {
  position: absolute;
  font-size: 1em;
  left: 1.5em;
  cursor: pointer;
}

.nav-searchbar {
  background: var(--white);
  width: 100%;
  border-radius: 10px;
  height: 2.5em;
  padding: 1em 1em 1em 2em;
  border: none;
  outline: none;
  font-size: 1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-searchbar:hover, .nav-searchbar:focus {
  background: var(--light-blue);
}

.message-listingHolder {
  display: flex;
  flex-direction: column;
  padding: 0em 1em 1em 1em;
  height: 100%;
  overflow: auto;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  list-style: none;
}

.message-item {
  position: relative;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 5em;
  padding: 0em 0em 0em 5em;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
}

.message-item:hover {
  background-color: var(--light-blue);
}

.user1 {
  left: 10px;
  top: 10px;
}

.user2 {
  left: 30px;
  top: 30px;
}

.message-profile {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  filter: blur(0.5px);
}
.message-profile img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.index-main {
  width: calc(100vw - min(400px, 100vw));
  height: 100%;
  background: radial-gradient(farthest-side at -33.33% 50%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%) 0 36px, radial-gradient(farthest-side at 50% 133.33%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%) 36px 0, radial-gradient(farthest-side at 133.33% 50%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%), radial-gradient(farthest-side at 50% -33.33%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%), #222831;
  background-size: 15.4274694665px 72px, 72px 15.4274694665px;
}

.info-header {
  display: flex;
  background: var(--light-dark);
  height: 4em;
  padding: 0 1em;
}

.message-menu {
  list-style: none;
}

.userinfo-wrapper {
  display: flex;
  align-items: center;
  color: white;
  gap: 1em;
}
.userinfo-wrapper p {
  color: rgba(255, 255, 255, 0.6);
}

.user-pfp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.user-pfp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;
  height: calc(100% - 8em);
  padding: 3em;
  overflow: auto;
}

.message-sender-wrapper {
  position: relative;
  padding: 0.5em 1em;
  height: 4em;
  background: var(--dark);
}

.add-file-btn {
  position: absolute;
  left: 1em;
  top: 0.5em;
  background: none;
  border: none;
  font-size: 1.8em;
  color: var(--white);
  cursor: pointer;
}

.message-sender {
  background: var(--light-dark);
  border: none;
  border-radius: 10px;
  padding: 1em 1em 1em 4em;
  width: 100%;
  color: var(--white);
}

.message-wrapper {
  display: flex;
  gap: 1em;
}

.message-profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.message-profile-picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.identifier-wrapper {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.identifier-wrapper h3 {
  color: var(--white);
}
.identifier-wrapper p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 75%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  background: var(--light-dark);
  border-radius: 10px;
  padding: 0.5em;
  max-width: 75%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.message-text {
  color: var(--white);
}

.main-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(farthest-side at -33.33% 50%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%) 0 36px, radial-gradient(farthest-side at 50% 133.33%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%) 36px 0, radial-gradient(farthest-side at 133.33% 50%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%), radial-gradient(farthest-side at 50% -33.33%, rgba(0, 0, 0, 0) 52%, #31363f 54% 57%, rgba(0, 0, 0, 0) 59%), #222831;
  background-size: 15.4274694665px 72px, 72px 15.4274694665px;
}

.form-title {
  display: flex;
  justify-content: center;
  position: relative;
  color: var(--white);
  letter-spacing: 2px;
}

.form-title::before {
  content: "";
  position: absolute;
  top: 110%;
  background-color: var(--white);
  height: 4px;
  border-radius: 10px;
  width: 50%;
}

.form {
  padding: 1em;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 1em;
  height: min(70ch, 100vh);
  width: min(50ch, 100vw);
  background: var(--dark);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.form-field {
  background-color: var(--light-dark);
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 1em;
  width: 90%;
  color: white;
}

.form-field:focus {
  border: 2px solid var(--white);
}

.form-btns {
  width: 100%;
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  background-color: var(--light-blue);
  padding: 1.5em 2em;
  width: 10em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.redirect-subtle {
  font-size: 100%;
  color: var(--white);
}

/*# sourceMappingURL=site.css.map */
