@use "./variables.scss";

.index-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100vw - min(400px, 100vw));
    height: 100vh;
    background:
        radial-gradient(farthest-side at -33.33% 50%, #0000 52%, #31363f 54% 57%, #0000 59%) 0 calc(72px/2),
        radial-gradient(farthest-side at 50% 133.33%, #0000 52%, #31363f 54% 57%, #0000 59%) calc(72px/2) 0,
        radial-gradient(farthest-side at 133.33% 50%, #0000 52%, #31363f 54% 57%, #0000 59%),
        radial-gradient(farthest-side at 50% -33.33%, #0000 52%, #31363f 54% 57%, #0000 59%),
        #222831;
    background-size: calc(72px/4.667) 72px, 72px calc(72px/4.667);
}


#screenBlocker {
    position: absolute;
    height: 100%;
    width: 100%;
    background:
        radial-gradient(farthest-side at -33.33% 50%, #0000 52%, #31363f 54% 57%, #0000 59%) 0 calc(72px/2),
        radial-gradient(farthest-side at 50% 133.33%, #0000 52%, #31363f 54% 57%, #0000 59%) calc(72px/2) 0,
        radial-gradient(farthest-side at 133.33% 50%, #0000 52%, #31363f 54% 57%, #0000 59%),
        radial-gradient(farthest-side at 50% -33.33%, #0000 52%, #31363f 54% 57%, #0000 59%),
        #222831;
    background-size: calc(72px/4.667) 72px, 72px calc(72px/4.667);
    z-index: var(--layer1);
}

.info-header {
    display: flex;

    justify-content: space-between;
    background: var(--light-dark);
    height: 4em;
    width: 100%;
    padding: 1em;
}

.message-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 1em;
    height: 100%;
    list-style: none;
    color: var(--white);
    font-size: 1.4em;
    padding: 0 1em;

    li {
        position: relative;
    }
}

.message-option {
    cursor: pointer;
}

.search-chat-input {
    background: var(--dark);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    // height: 30px;
}

.chat-search {
    position: absolute;
    right: 10px;
    bottom: 6px;
    font-size: 0.6em;
    cursor: pointer;
}

.userinfo-wrapper {
    display: flex;
    align-items: center;
    color: white;
    gap: 1em;

    p {
        color: rgba(255, 255, 255, 0.6);
    }

    cursor: pointer;
}

.user-pfp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.messages-holder {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    // height: calc(100% - 8em);
    flex-grow: 1;
    padding: 3em;
    overflow-y: auto;
}

.messages {
    display: flex;
    flex-direction: column-reverse;

    gap: 1em;

}

.message-image-holder {
    cursor: pointer;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.message-video-holder,
.message-image-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 22em;
    max-width: 30em;
    margin: 0.5em 0em;
    overflow: hidden;
    border-radius: 5px;
}


.userinfo {}

.message-sender-wrapper {
    position: relative;
    padding: 0.5em 1em;
    background: var(--dark);
}

.add-file-btn {
    position: absolute;
    left: 1em;
    bottom: 0.5em;
    background: none;
    border: none;
    font-size: 1.8em;
    color: var(--white);
    cursor: pointer;
}

.message-sender {
    background: var(--light-dark);
    border: none;
    border-radius: 10px;
    padding: 1em 1em 1em 4em;
    width: 100%;
    color: var(--white);
}

.file-preview-holder{
    display: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    background: var(--light-dark);
    z-index: var(--layer2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0em 0em 1em 0em;
}

.file-list{
    display: grid;
    grid-template-columns: repeat(5, calc(20% - 1em));
    justify-content: space-between;
    padding: 1em 1em 0em 1em;

    gap: 1em;
    max-height: 15em;
    width: 100%;
    overflow: auto;
    list-style: none;
}

.file-list-item{
    padding: 0.5em;
    background: var(--dark);
    height: 12em;
    position: relative;
    figure{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img{
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }
}

.remove-uploadedFile{
    background: var(--dark);
    position: absolute;
    border-radius: 50%;
    border: none;
    padding: 0.5em;
    border: 2px solid var(--dark);
    top: -1em;
    right: -1em;
    cursor: pointer;
    i{
        font-size: 1.2em;
        color: var(--red);
    }
}






.message-wrapper {
    display: flex;
    gap: 1em;
}

.message-profile-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.identifier-wrapper {
    display: flex;
    gap: 0.5em;
    align-items: center;

    h3 {
        color: var(--white);
    }

    p {
        color: rgba(255, 255, 255, 0.6);
        font-size: 75%;
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    background: var(--light-dark);
    border-radius: 10px;
    padding: 0.5em;
    max-width: 75%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.message-text {
    color: var(--white);

    a {
        color: var(--light-blue);
    }

}


#image-popup {
    left: 0;
    top: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--darkSeeThrough);
    z-index: var(--layer9);
}

#closeImagePopup {
    position: absolute;
    background: none;
    border: none;
    color: var(--white);
    font-size: 3em;
    cursor: pointer;
    top: 1em;
    right: 2em;
}

.image-of-popup {
    position: relative;
    width: min(100ch, 100vw);
    max-height: min(70ch, 100vw);
    display: flex;
    justify-content: center;
    overflow: hidden;
    animation: popup 600ms ease-out;

    img {
        max-height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

@keyframes popup {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}