@use"./variables.scss";

.main-form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: 
    radial-gradient(farthest-side at -33.33% 50%,#0000 52%,#31363f 54% 57%,#0000 59%) 0 calc(72px/2),
    radial-gradient(farthest-side at 50% 133.33%,#0000 52%,#31363f 54% 57%,#0000 59%) calc(72px/2) 0,
    radial-gradient(farthest-side at 133.33% 50%,#0000 52%,#31363f 54% 57%,#0000 59%),
    radial-gradient(farthest-side at 50% -33.33%,#0000 52%,#31363f 54% 57%,#0000 59%),
    #222831;
    background-size: calc(72px/4.667) 72px,72px calc(72px/4.667);

}

.form-title{
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--white);
    letter-spacing: 2px;
}
.form-title::before{
    content: "";
    position: absolute;
    top: 110%;
    background-color: var(--white);
    height: 4px;
    border-radius: 10px;
    width: 50%;
}

.form{
    padding: 1em;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1em;
    height: min(70ch, 100vh);
    width: min(50ch, 100vw);
    background: var(--dark);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);

} 

.feedbackMessage {
    color: var(--red);
}
 
.form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.form-field{
    background-color: var(--light-dark);
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 1em;
    width: 90%;
    color: white;
}

.form-field:focus{
    border: 2px solid var(--white);
}

.form-btns{
    width: 100%;
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.submit-btn{
    background-color: var(--light-blue); 
    padding: 1.5em 2em;
    width: 10em; 
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.redirect-subtle{
    font-size: 100%;
    color: var(--white);
}