:root{
    --dark: #222831;
    --light-dark: #31363F;
    --light-blue: #4fbfc5;
    --light-green: rgb(173, 228, 111);
    --white: #ececec;
    --layer1: 100;
    --layer2: 200;
    --layer3: 300;
    --layer4: 400;
    --layer5: 500;
    --layer6: 600;
    --layer7: 700;
    --layer8: 800;
    --layer9: 900;
    --layer10: 1000;
    --layerNeg1: -100;
    --darkSeeThrough: rgba(0, 0, 0, 0.3);
    --red: rgb(255, 99, 79);
    --green: rgb(146, 201, 84);
    --light-gray: rgb(182, 182, 182);
    --gray: rgb(143, 143, 143);
}