@using CommuniMerge.ViewModels;
@model IndexView;

<nav class="nav">
    <section class="side-nav">

        <div></div>
        <ul class="options">
            <li class="option"><i class="fa-solid fa-user-group"></i></i></li>
            <li class="option"><i class="fa-regular fa-message create"></i></li>
            <li class="option"><i class="fa-solid fa-gears"></i></i></li>
        </ul>


        <figure class="profileIcon">
            <img src="~/img/profile.jpg" alt="" srcset="">
        </figure>
    </section>

    <section class="main-holder">
        <div class="title">
            <h2>Chats</h2>
        </div>
        <div class="nav-search">
            <i class="fa-solid fa-magnifying-glass search-btn"></i>
            <input class="nav-searchbar" type="text" name="chat-search" id="chat-search" placeholder="Zoeken">
        </div>

        <div class="message-listingHolder">
            <ul class="message-list">
                @{
                    foreach(var friend in Model.Friends)
                    {
                        <li class="message-item" onclick="openConversation('@friend.Username')">

                            <header class="message-profile-header">
                                <figure class="message-profile user1">
                                    <img src="~/img/profile.jpg" alt="" srcset="" draggable="false">
                                </figure>
                                <figure class="message-profile user2">
                                    <img src="~/img/doggy.jpg" alt="" srcset="" draggable="false">
                                </figure>
                            </header>
                            <div class="message-information">
                                <h3>@Model.CurrentUserUsername & @friend.Username</h3>
                                <p>@friend.LatestMessage.Content </p>
                            </div>
                        </li>
                    }
                }

            </ul>
        </div>
    </section>
</nav>