@{
    Layout = "../Shared/_Form.cshtml";
    ViewData["controller"] = "Authorize";
    ViewData["action"] = "login";
}

<h1 class="form-title">Login</h1>

<div class="form-fields">
    <input type="text" class="form-field" id="Username" name="Username" placeholder="Username">
    <input asp-validation type="password" class="form-field" id="Password" name="Password" placeholder="Password">
</div>

<div class="form-btns">
    <button class="submit-btn" type="submit">Login</button>
    <a class="redirect-subtle" href="/authorize/register">Go to register</a>
</div>
