@{
    Layout = "../Shared/_Form.cshtml";
    ViewData["controller"] = "Authorize";
    ViewData["action"] = "login";
}



<input type="text" class="form-field" id="Username" name="Username" placeholder="Username">
<input type="text" class="form-field" id="Password" name="Password" placeholder="Password">



<button type="submit"></button>