@using CommuniMerge.Library.Models;

@{
    Layout = "../Shared/_Form.cshtml";
    ViewData["controller"] = "Authorize";
    ViewData["action"] = "register";
}
@model RegisterModel;

<h1 class="form-title">Register</h1>

<div class="form-fields">
    <input type="text" class="form-field" id="Username" name="Username" placeholder="Username" value="@Model.Username";/>
    <input type="text" class="form-field" id="Email" name="Email" placeholder="Email" @Model.Email>
    <input type="password" class="form-field" id="Password" name="Password" placeholder="Password" @Model.Password>
</div>

<div class="form-btns">
    <button class="submit-btn" type="submit">Register</button>
    <a class="redirect-subtle" href="/authorize/login">Go to login</a>
</div>