@{
    ViewData["Title"] = "Home page";
}
@using CommuniMerge.ViewModels;
@model IndexView;


@Html.Partial("_ChatPartial")
<main class="index-main">

    <div id="screenBlocker"></div>

    <header class="info-header" id="info-header">
        <div class="userinfo-wrapper">
            <figure class="user-pfp">
                <img src="~/img/profile.jpg" />
            </figure>
            <div class="userinfo">
                <h3 id="info-header-username">User</h3>
            </div>
        </div>

        <ul class="message-menu">
            <li ><i class="fa-solid fa-phone-volume message-option"></i></li>
            <li >
                <input type="text" class="search-chat-input" placeholder="Search"> 
                <i class="fa-solid fa-magnifying-glass chat-search"></i>
            </li>
            <li ><i class="fa-solid fa-ellipsis-vertical message-option"></i></li>
        </ul>


    </header>

    <section class="messages-holder">

        <ul class="messages" id="messages" >
        
        </ul>



    </section>

    <footer class="message-sender-wrapper">
        <button class="add-file-btn"><i class="fa-solid fa-circle-plus"></i></button>
        <input data-sender="@Model.CurrentUserUsername" data-receiver="" id="message-sender" autocomplete="off" class="message-sender" type="text" placeholder="Send message to User">
        @* <input type="text" placeholder="Send message to @ViewData[""]"> *@
    </footer>
</main>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
