@{
    ViewData["Title"] = "Home page";
}



@Html.Partial("_ChatPartial")
<main class="index-main">



    <header class="info-header">
        <div class="userinfo-wrapper">
            <figure class="user-pfp">
                <img src="~/img/profile.jpg" />
            </figure>
            <div class="userinfo">
                <h3>User</h3>
            </div>
        </div>

        <ul class="message-menu">
            <li></li>
            <li></li>
            <li></li>
        </ul>


    </header>

    <section class="messages-holder">

        <ul class="messages" id="messages">
        
        </ul>



    </section>

    <footer class="message-sender-wrapper">
        <button class="add-file-btn"><i class="fa-solid fa-circle-plus"></i></button>
        <input id="message-sender" autocomplete="off" class="message-sender" type="text" placeholder="Send message to User">
        @* <input type="text" placeholder="Send message to @ViewData[""]"> *@
    </footer>
</main>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
